# Virtual enviroment
.venv/

# Data files
data/raw/
data/processed/
data/temp/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/

# Configuration files
config/secrets.yaml